<form class="{{cssClass}} flexcol knight" autocomplete="off">

  {{> actions }}

  <div class="paper scrollable br-1 p-2 gap-3">
    <div class="grid">
      <div class="col col-8 gap-1">

        <div class="grid">
          <label class="col col-5 text-large label-large">{{localize "MB.Actor.KnightName"}}</label>
          <div class="col col-7">
            <input class="input-large" name="name" type="text" value="{{data.name}}"
              placeholder="{{ localize "MB.Actor.KnightName" }}" spellcheck="false" />
          </div>
        </div>

        <div class="grid">
          <label class="col col-5 text-large label-large">{{localize "MB.Actor.KnightType"}}</label>
          <div class="col col-7">
            <input class="input-large" name="system.knight" type="text"
              value="{{data.system.knight}}" placeholder="{{ localize "MB.Actor.KnightType" }}" spellcheck="false" />
          </div>
        </div>

        <div class="grid align-items-center">
          <label class="col col-5 text-regular label-regular">{{localize "MB.Actor.Age.Label"}}</label>
          <div class="col col-7">
            <select class="input-regular" name="system.age" data-dtype="String">
              {{selectOptions ages selected=data.system.age localize=true}}
            </select>
          </div>
        </div>

        <div class="grid align-items-center">
          <label class="col col-5 text-regular label-regular">{{localize "MB.Actor.Rank.Label"}}</label>
          <div class="col col-7">
            <select class="input-regular" name="system.rank" data-dtype="String">
              {{selectOptions ranks selected=data.system.rank localize=true}}
            </select>
          </div>
        </div>

        <div class="grid align-items-center">
          <label class="col col-5 text-regular label-number">{{localize "MB.Actor.Glory"}}</label>
          <div class="col col-7">
            <input class="input-number" type="number" name="system.glory.value"
              value="{{data.system.glory.value}}" data-dtype="Number" size="2" />
          </div>
        </div>
      </div>

      <div class="col col-4">
        <div class="picture shield ml-2 align-self-center">
          <img src="{{data.img}}" data-edit="img" title="{{data.name}}" />
        </div>
      </div>
    </div>

    <div class="grid">
      <div class="col col-8">
        {{> virtues  }}
      </div>
      <div class="col col-4 text-medium text-small-caps align-items-center align-self-center">
        <div>{{localize "MB.Actor.Oath1"}}</div>
        <div>{{localize "MB.Actor.Oath2"}}</div>
        <div>{{localize "MB.Actor.Oath3"}}</div>
      </div>
    </div>
 
    {{> item-list title=(localize "MB.Actor.Ability") items=data.abilities }}
    {{> item-list title=(localize "MB.Actor.Passion") items=data.passions }}
    {{> actor-list title=(localize "MB.Actor.Steed") actors=data.steeds }}
    {{> actor-list title=(localize "MB.Actor.Companion") actors=data.companions }}
    {{> item-list title=(localize "MB.Actor.Property") items=data.properties }}
    {{> item-list title=(localize "MB.Actor.Scars") items=data.scars }}
  
    <div class="grid">
      <div class="col col-6">
        <h2 class="text-large">{{localize "MB.Actor.Feats"}}</h2>
        <div class="grid gap-1 pr-1 pl-1">
          <div data-source="{{localize "MB.Smite"}}">
            {{{localize "MB.Actor.Smite"}}}
            <ul class="m-0">
              <li>{{{localize "MB.Actor.SmiteLine1"}}}</li>
              <li>{{{localize "MB.Actor.SmiteLine2"}}}</li>
              <li>{{{localize "MB.Actor.SmiteLine3"}}}</li>
            </ul>
          </div>
          <div data-source="{{localize "MB.Focus"}}">
            {{{localize "MB.Actor.Focus"}}}
            <ul class="m-0">
              <li>{{{localize "MB.Actor.FocusLine1"}}}</li>
              <li>{{{localize "MB.Actor.FocusLine2"}}}</li>
              <li>{{{localize "MB.Actor.FocusLine3"}}}</li>
            </ul>
          </div>
          <div data-source="{{localize "MB.Deny"}}">
            {{{localize "MB.Actor.Deny"}}}
            <ul class="m-0">
              <li>{{{localize "MB.Actor.DenyLine1"}}}</li>
              <li>{{{localize "MB.Actor.DenyLine2"}}}</li>
              <li>{{{localize "MB.Actor.DenyLine3"}}}</li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col col-6">
        <div class="grid pr-1 pl-1">
          <h2 class="text-large">{{{localize "MB.Actor.Gambit"}}}</h2>
          <ul class="m-0 pb-1">
            <li>{{{localize "MB.Actor.Bolster"}}}</li>
            <li>{{{localize "MB.Actor.Move"}}}</li>
            <li>{{{localize "MB.Actor.Repel"}}}</li>
            <li>{{{localize "MB.Actor.Stop"}}}</li>
            <li>{{{localize "MB.Actor.Impair"}}}</li>
            <li>{{{localize "MB.Actor.Trap"}}}</li>
            <li>{{{localize "MB.Actor.Dismount"}}}</li>
            <li>{{{localize "MB.Actor.OtherEffect"}}}</li>
          </ul>
          <h2 class="text-large">{{{localize "MB.Actor.StrongGambit"}}}</h2>
          <ul class="m-0">
            <li>{{{localize "MB.Actor.NoSave"}}}</li>
            <li>{{{localize "MB.Actor.GreaterEffect"}}}</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="grid">
      <h2 class="col col-12 text-large">{{localize "MB.Actor.Biography"}}</h2>
      <div class="col col-12 editor-container">
        {{editor data.system.biography target="system.biography" button=editable editable=editable}}
      </div>
    </div>
    
  </div>
</form>
