{{#*inline "outcome"}}
  <div class="outcome" data-source="{{outcome.title}}">
    {{#if outcome.title}}
      <div class="outcome-title">
        <span>{{outcome.title}}</span>
      </div>
    {{/if}}

    {{#if (or outcome.formulaLabel outcome.roll outcome.formulaNumber)}}
      <div class="col align-items-center">
        {{#if outcome.formulaLabel}}
          <div class="outcome-formula-label">
            <span>{{outcome.formulaLabel}}</span>
          </div>
        {{/if}}
        {{#if outcome.roll}}
          <div class="outcome-rolls">
            {{#if (eq outcome.type 'damage') }}
              {{#each outcome.roll.terms as |term|}}
                {{#each term.results as |result|}}
                  <div class="outcome-roll-result">
                    <div class="outime-roll-term">d{{term.faces}}</div>
                    <div
                      class="outcome-roll {{printIf (gte result.result 4) "gambit"}} {{printIf (gte result.result 8) "strong-gambit"}}"
                      title="{{printIf (gte result.result 4) (localize "MB.Actor.Gambit")}} {{printIf (gte result.result 8) (localize "MB.Actor.StrongGambit")}}">
                      <span>{{result.result}}</span>
                    </div>
                  </div>
                {{/each}}
              {{/each}}
            {{else}}
              <div class="outcome-roll">
                <span>{{outcome.roll.total}}</span>
              </div>
            {{/if}}
          </div>
        {{/if}}
        {{#if outcome.formulaNumber}}
          <div class="outcome-roll">
            <span>{{outcome.formulaNumber}}</span>
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#if outcome.description}}
      <div class="outcome-description">
        {{#if (isArray description)}}
          {{#each description}}
            <p>{{{.}}}</p>
          {{/each}}
        {{else}}
          {{{description}}}
        {{/if}}
      </div>
    {{/if}}

    {{#if buttons}}
      <div>
        {{#each buttons as |button|}}
          <button type="button" class="chat-message-button button-primary" {{#each button.data}}
            data-{{@key}}="{{this}}" {{/each}} title="{{title}}">
            {{button.title}}
          </button>
        {{/each}}
      </div>
    {{/if}}
  </div>
{{/inline}}

<form class="grid">
  <div class="col gap-2">
    <div class="card-title">{{title}}</div>

    {{#each items as |item id|}}
      {{#if item.name}}
        <div class="card-item">
          <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
          <span class="card-item-name">{{item.name}}</span>
        </div>
      {{/if}}
    {{/each}}

    {{#if description}}
      <div class="card-description">
        {{#if (isArray description)}}
          {{#each description}}
            <p>{{{.}}}</p>
          {{/each}}
        {{else}}
          {{{description}}}
        {{/if}}
      </div>
    {{/if}}

    {{#each outcomes as |outcome| }}
      {{> outcome outcome=outcome }}
    {{/each}}
  </div>
</form>
