{{#*inline "outcome"}}
  <div class="outcome" data-source="{{outcome.title}}"> 
    {{#if outcome.title}}
      <div class="outcome-title">
        <span>{{outcome.title}}</span>
      </div>
    {{/if}}

    {{#if (or outcome.formulaLabel outcome.roll outcome.formulaNumber)}}
      <div class="col align-items-center">
        {{#if outcome.formulaLabel}}
          <div class="outcome-formula-label">
            <span>{{outcome.formulaLabel}} {{#if outcome.dr}}{{localize "PB.Vs"}} {{localize "PB.DR"}}
                {{outcome.dr}}{{/if}}</span>
          </div>
        {{/if}}
        {{#if outcome.roll}}
          <div class="outcome-rolls">
            {{#if (eq outcome.type 'damage') }}
              {{#each outcome.roll.terms as |term|}}
                {{#each term.results as |result|}}
                  <div class="outcome-roll {{printIf (gte result.result 4) 'gambit'}} {{printIf (gte result.result 8) 'greater-gambit'}}" >
                    <span>{{result.result}}</span>
                  </div>
                {{/each}}
              {{/each}}
            {{else}}
              <div class="outcome-roll">
                <span>{{outcome.roll.total}}</span>
              </div>
            {{/if}}
          </div>
        {{/if}}
        {{#if outcome.formulaNumber}}
          <div class="outcome-roll">
            <span>{{outcome.formulaNumber}}</span>
          </div>
        {{/if}}
      </div>
    {{/if}}

    {{#if outcome.description}}
      <div class="outcome-description">
        {{#if (isArray description)}}
          {{#each description}}
            <p>{{{.}}}</p>
          {{/each}}
        {{else}}
          {{{description}}}
        {{/if}}
      </div>
    {{/if}}

    {{#if button}}
      <div>
        <button type="button" class="chat-message-button button-primary" {{#each button.data}} data-{{@key}}="{{this}}"
          {{/each}} title="{{title}}">
          {{button.title}}
        </button>
      </div>
    {{/if}}
  </div>
{{/inline}}

<form class="grid">
  <div class="col gap-2">
    <div class="card-title">{{title}}</div>

    {{#each items as |item id|}}
      {{#if item.name}}
        <div class="card-item">
          <img src="{{item.img}}" title="{{item.name}}" width="24" height="24" />
          <span class="card-item-name">{{item.name}}</span>
        </div>
      {{/if}}
    {{/each}}

    {{#if description}}
      <div class="card-description">{{{description}}}</div>
    {{/if}}

    {{#each outcomes as |outcome| }}
      {{> outcome outcome=outcome }}
    {{/each}}
  </div>
</form>
