<form class="paper br-1">

  <nav class="grid sheet-tabs tabs gap-1 align-items-center" data-group="primary">
    <a class="item col" data-tab="travel">{{localize "MB.Dashboard.Travel"}}</a>
    <a class="item col" data-tab="realm">{{localize "MB.Dashboard.Realm"}}</a>
    <a class="item col" data-tab="sparks">{{localize "MB.Dashboard.Sparks"}}</a>
    <a class="item col" data-tab="myths">{{localize "MB.Dashboard.Myths"}}</a>
    <a class="item col" data-tab="extras">{{localize "MB.Dashboard.Extras"}}</a>
    <div class="col col-3 justify-items-center pr-1">
      <select class="" name="roll_mode" data-dtype="String">
        {{selectOptions rollModes localize=true}}
      </select>
    </div>
  </nav>

  <section class="sheet-body scrollable">
    <div class="tab tab-travel" data-group="primary" data-tab="travel">
      <div class="col col-12 gap-1 p-1">
        <div class="grid">
          <div class="col col-4 pr-1">
            <button class="button-primary roll-table"
              data-table="Luck roll">{{localize "MB.Dashboard.LuckRoll"}}</button>
          </div>
          <div class="col col-8">
            <button class="button-primary roll-table"
              data-table="Wilderness roll">{{localize "MB.Dashboard.WildernessRoll"}}</button>
          </div>
        </div>
        <div class="grid">
          <div class="col col-4 pr-1">
            <button class="button-primary roll-table"
              data-table="Travelling Blind">{{localize "MB.Dashboard.TravellingBlind"}}</button>
          </div>
          <div class="col col-4 pr-1">
            <button class="button-primary roll-table"
              data-table="Local mood">{{localize "MB.Dashboard.LocalMood"}}</button>
          </div>
          <div class="col col-4">
            <button class="button-primary roll-table"
              data-table="Dire weather">{{localize "MB.Dashboard.DireWeather"}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="tab tab-realm" data-group="primary" data-tab="realm">
      <div class="col col-12 gap-1 p-1">
        <div class="grid">
          <div class="col col-6 pr-1">
            <button class="button-primary roll-table"
              data-table="Passage of time">{{localize "MB.Dashboard.PassageOfTime"}}</button>
          </div>
          <div class="col col-6">
            <button class="button-primary roll-table"
              data-table="Unresolved situations">{{localize "MB.Dashboard.UnresolvedSituations"}}</button>
          </div>
        </div>
        <div class="grid">
          <div class="col col-6 pr-1">
            <button class="button-primary roll-table"
              data-table="Drama in Court">{{localize "MB.Dashboard.DramaInCourt"}}</button>
          </div>
          <div class="col col-6">
            <button class="button-primary roll-table"
              data-table="Increased taxes">{{localize "MB.Dashboard.IncreasedTaxes"}}</button>
          </div>
        </div>
        <div class="grid">
          <div class="col col-6 pr-1">
            <button class="button-primary roll-table"
              data-table="Crisis roll">{{localize "MB.Dashboard.CrisisRoll"}}</button>
          </div>
          <div class="col col-6">
            <button class="button-primary roll-table" data-table="Crisis">{{localize "MB.Dashboard.Crisis"}}</button>
          </div>
        </div>
      </div>
    </div>

    <div class="tab tab-sparks" data-group="primary" data-tab="sparks">
      <div class="col col-12 p-1 gap-1">
        <div class="grid">
          <div class="col col-3 pr-1">
            <button class="button-primary roll-table" data-table="Person">{{localize "MB.Dashboard.Person"}}</button>
          </div>
          <div class="col col-6 pr-1">
            <button class="button-primary roll-table" data-table="Name">{{localize "MB.Dashboard.Name"}}</button>
          </div>
          <div class="col col-3">
            <button class="button-primary roll-table"
              data-table="Characteristic">{{localize "MB.Dashboard.Characteristic"}}</button>
          </div>
        </div>

        <div class="grid">
          <div class="col col-3 pr-1">
            <button class="button-primary roll-table" data-table="Object">{{localize "MB.Dashboard.Object"}}</button>
          </div>
          <div class="col col-3 pr-1">
            <button class="button-primary roll-table" data-table="Beast">{{localize "MB.Dashboard.Beast"}}</button>
          </div>
          <div class="col col-3 pr-1">
            <button class="button-primary roll-table" data-table="State">{{localize "MB.Dashboard.State"}}</button>
          </div>
          <div class="col col-3">
            <button class="button-primary roll-table" data-table="Theme">{{localize "MB.Dashboard.Theme"}}</button>
          </div>
        </div>

        <div class="grid">
          <div class="col col-4 pr-1">
            <button class="button-primary roll-table"
              data-table="Dwelling">{{localize "MB.Dashboard.Dwelling"}}</button>
          </div>
          <div class="col col-4 pr-1">
            <button class="button-primary roll-table" data-table="Sanctum">{{localize "MB.Dashboard.Sanctum"}}</button>
          </div>
          <div class="col col-4">
            <button class="button-primary roll-table"
              data-table="Monument">{{localize "MB.Dashboard.Monument"}}</button>
          </div>
        </div>

        <div class="grid">
          <div class="col col-4 pr-1">
            <button class="button-primary roll-table" data-table="Hazard">{{localize "MB.Dashboard.Hazard"}}</button>
          </div>
          <div class="col col-4 pr-1">
            <button class="button-primary roll-table" data-table="Ruin">{{localize "MB.Dashboard.Ruin"}}</button>
          </div>
          <div class="col col-4">
            <button class="button-primary roll-table" data-table="Curse">{{localize "MB.Dashboard.Curse"}}</button>
          </div>
        </div>

        <div class="col col-12 pt-1 gap-1">
          <h2 class="text-large">{{localize "MB.Dashboard.Nature"}}</h2>
          <div class="grid">
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Land"}}"
                data-tables="LAND - Character;LAND - Landscape">{{localize "MB.Dashboard.Land"}}</button>
            </div>
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Sky"}}"
                data-tables="SKY - Tone;SKY - Texture">{{localize "MB.Dashboard.Sky"}}</button>
            </div>
            <div class="col col-4">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Water"}}"
                data-tables="WATER - Tone;WATER - Texture">{{localize "MB.Dashboard.Water"}}</button>
            </div>
          </div>
          <div class="grid">
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Weather"}}"
                data-tables="WEATHER - Description;WEATHER - Element">{{localize "MB.Dashboard.Weather"}}</button>
            </div>
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Flora"}}"
                data-tables="FLORA - Nature;FLORA - Form">{{localize "MB.Dashboard.Flora"}}</button>
            </div>
            <div class="col col-4">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Fauna"}}"
                data-tables="FAUNA - Nature;FAUNA - Form">{{localize "MB.Dashboard.Fauna"}}</button>
            </div>
          </div>
          <div class="grid">
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Feature"}}"
                data-tables="FEATURE - Nature;FEATURE - Form">{{localize "MB.Dashboard.Feature"}}</button>
            </div>
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Wonder"}}"
                data-tables="WONDER - Theme;WONDER - Element">{{localize "MB.Dashboard.Wonder"}}</button>
            </div>
            <div class="col col-4">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Otherworld"}}"
                data-tables="OTHERWORLD - Character;OTHERWORLD - Landscape">{{localize "MB.Dashboard.Otherworld"}}</button>
            </div>
          </div>
        </div>

        <div class="col col-12 pt-1 gap-1">
          <h2 class="text-large">{{localize "MB.Dashboard.Civilisation"}}</h2>
          <div class="grid">
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Holding"}}"
                data-tables="HOLDING - Style;HOLDING - Feature">{{localize "MB.Dashboard.Holding"}}</button>
            </div>
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Bailey"}}"
                data-tables="BAILEY - Style;BAILEY - Feature">{{localize "MB.Dashboard.Bailey"}}</button>
            </div>
            <div class="col col-4">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Keep"}}"
                data-tables="KEEP - Centrepiece;KEEP - Decoration">{{localize "MB.Dashboard.Keep"}}</button>
            </div>
          </div>
          <div class="grid">
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Food"}}"
                data-tables="FOOD - Quality;FOOD - Type">{{localize "MB.Dashboard.Food"}}</button>
            </div>
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Goods"}}"
                data-tables="GOODS - Theme;GOODS - Type">{{localize "MB.Dashboard.Goods"}}</button>
            </div>
            <div class="col col-4">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Luxuries"}}"
                data-tables="LUXURIES - Rarity;LUXURIES - Type">{{localize "MB.Dashboard.Luxuries"}}</button>
            </div>
          </div>
          <div class="grid">
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Drama"}}"
                data-tables="DRAMA - Theme;DRAMA - Detail">{{localize "MB.Dashboard.Drama"}}</button>
            </div>
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Woe"}}"
                data-tables="WOE - Description;WOE - Incident">{{localize "MB.Dashboard.Woe"}}</button>
            </div>
            <div class="col col-4">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.News"}}"
                data-tables="NEWS - Subject;NEWS - Mood">{{localize "MB.Dashboard.News"}}</button>
            </div>
          </div>
        </div>

        <div class="col col-12 pt-1 gap-1">
          <h2 class="text-large">{{localize "MB.Dashboard.People"}}</h2>
          <div class="grid">
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Appearance"}}"
                data-tables="APPEARANCE - Physique;APPEARANCE - Dress">{{localize "MB.Dashboard.Appearance"}}</button>
            </div>
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Voice"}}"
                data-tables="VOICE - Tone;VOICE - Manner">{{localize "MB.Dashboard.Voice"}}</button>
            </div>
            <div class="col col-4">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Personality"}}"
                data-tables="PERSONALITY - Demeanour;PERSONALITY - Interest">{{localize "MB.Dashboard.Personality"}}</button>
            </div>
          </div>
          <div class="grid">
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Relationship"}}"
                data-tables="RELATIONSHIP - State;RELATIONSHIP - Connection">{{localize "MB.Dashboard.Relationship"}}</button>
            </div>
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Desire"}}"
                data-tables="DESIRE - Ambition;DESIRE - Motive">{{localize "MB.Dashboard.Desire"}}</button>
            </div>
            <div class="col col-4">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Task"}}"
                data-tables="TASK - Action;TASK - Subject">{{localize "MB.Dashboard.Task"}}</button>
            </div>
          </div>
          <div class="grid">
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Background"}}"
                data-tables="BACKGROUND - Upbringing;BACKGROUND - Memory">{{localize "MB.Dashboard.Background"}}</button>
            </div>
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Ailment"}}"
                data-tables="AILMENT - Descriptor;AILMENT - Symptom">{{localize "MB.Dashboard.Ailment"}}</button>
            </div>
            <div class="col col-4">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Heraldry"}}"
                data-tables="HERALDRY - Palette;HERALDRY - Symbol">{{localize "MB.Dashboard.Heraldry"}}</button>
            </div>
          </div>
        </div>

        <div class="col col-12 pt-1 gap-1">
          <h2 class="text-large">{{localize "MB.Dashboard.Combat"}}</h2>
          <div class="grid">
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Soldier"}}"
                data-tables="SOLDIER - Quality;SOLDIER - Type">{{localize "MB.Dashboard.Soldier"}}</button>
            </div>
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Weapon"}}"
                data-tables="WEAPON - Descriptor;WEAPON - Feature">{{localize "MB.Dashboard.Weapon"}}</button>
            </div>
            <div class="col col-4">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Manoeuvres"}}"
                data-tables="MANOEUVRES - Action;MANOEUVRES - Intent">{{localize "MB.Dashboard.Manoeuvres"}}</button>
            </div>
          </div>
          <div class="grid">
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Conflict"}}"
                data-tables="CONFLICT - Dispute;CONFLICT - Status">{{localize "MB.Dashboard.Conflict"}}</button>
            </div>
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Duel"}}"
                data-tables="DUEL - Stipulation;DUEL - Twist">{{localize "MB.Dashboard.Duel"}}</button>
            </div>
            <div class="col col-4">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Battlefield"}}"
                data-tables="BATTLEFIELD - Feature;BATTLEFIELD - Detail">{{localize "MB.Dashboard.Battlefield"}}</button>
            </div>
          </div>
          <div class="grid">
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Deployment"}}"
                data-tables="DEPLOYMENT - Style;DEPLOYMENT - Formation">{{localize "MB.Dashboard.Deployment"}}</button>
            </div>
            <div class="col col-4 pr-1">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Strategy"}}"
                data-tables="STRATEGY - Plan;STRATEGY - Twist">{{localize "MB.Dashboard.Strategy"}}</button>
            </div>
            <div class="col col-4">
              <button class="button-primary roll-table-multi" data-label="{{localize "MB.Dashboard.Event"}}"
                data-tables="EVENT - Subject;EVENT - Event">{{localize "MB.Dashboard.Event"}}</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="tab tab-myths" data-group="primary" data-tab="myths">
      <div class="col col-12 p-1 gap-1">
        {{#each-chunk 3 myths}}
          <div class="grid">          
            {{#each this as |myth|}}
              <div class="col col-4 pr-1">
                <button class="button-primary roll-table-multi" data-label="{{myth.name}}"
                  data-tables="{{myth.tables}}">{{myth.name}}</button>
              </div>
            {{/each}}
          </div>
        {{/each-chunk}}
      </div>
    </div>

    <div class="tab tab-extras" data-group="primary" data-tab="extras">
      <div class="col col-12 gap-1 p-1">
        <div class="grid">
          <div class="col col-12">
            <button class="button-primary roll-sky-weather"
              data-title="{{localize "MB.Dashboard.SkyWeather"}}">{{localize "MB.Dashboard.SkyWeather"}}</button>
          </div>
        </div>

        <div class="grid">
          <div class="col col-3 pr-1">
            <button class="button-primary roll-person"
              data-title="{{localize "MB.Dashboard.Person"}}">{{localize "MB.Dashboard.Person"}}</button>
          </div>
          <div class="col col-3 pr-1">
            <button class="button-primary roll-holding"
              data-title="{{localize "MB.Dashboard.Holding"}}">{{localize "MB.Dashboard.Holding"}}</button>
          </div>
          <div class="col col-3 pr-1">
            <button class="button-primary roll-land"
              data-title="{{localize "MB.Dashboard.Land"}}">{{localize "MB.Dashboard.Land"}}</button>
          </div>
          <div class="col col-3">
            <button class="button-primary roll-beast"
              data-title="{{localize "MB.Dashboard.Beast"}}">{{localize "MB.Dashboard.Beast"}}</button>
          </div>
        </div>

      </div>
    </div>
  </section>
</form>
