<div class="grid bg-primary p-1 gap-1">
  <div class="col"><button class="button-primary button-attack">{{localize "MB.Attack"}}</button></div>
  <div class="col"><button class="button-primary button-take-damage">{{localize "MB.TakeDamage"}}</button></div>
  <div class="col"><button class="button-primary button-virtue-loss">{{localize "MB.VirtueLoss"}}</button></div>
  <div class="col"><button class="button-primary button-rest">{{localize "MB.Rest"}}</button></div>
  <div class="col"><button class="button-primary button-restore">{{localize "MB.Restore"}}</button></div>
  <div class="col"><button class="button-primary button-roll-scars">{{localize "MB.RollScar"}}</button></div>
  <div class="col"><button class="button-primary button-add-item">{{localize "MB.AddItem"}}</button></div>
</div>
