<div class="grid bg-primary p-1 gap-1">
  <div class="col"><button data-action="buttonAttack" class="button-primary">{{localize "MB.Attack"}}</button></div>
  <div class="col"><button data-action="buttonTakeDamage" class="button-primary">{{localize "MB.TakeDamage"}}</button></div>
  <div class="col"><button data-action="buttonVirtueLoss" class="button-primary">{{localize "MB.VirtueLoss"}}</button></div>
  <div class="col"><button data-action="buttonRest" class="button-primary">{{localize "MB.Rest"}}</button></div>
  <div class="col"><button data-action="buttonRestore" class="button-primary">{{localize "MB.Restore"}}</button></div>
  <div class="col"><button data-action="buttonRollScars" class="button-primary">{{localize "MB.RollScar"}}</button></div>
  <div class="col"><button data-action="buttonAddItem" class="button-primary">{{localize "MB.AddItem"}}</button></div>
</div>